@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(0deg, rgba(55,55,59,1) 0%, rgba(38,96,168,1) 35%, rgba(239,252,255,1) 100%);
  backdrop-filter: grayscale(0.5);
}